@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.portfolio-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.navlist {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: center;
  background: transparent;
  z-index: 100;
}

.navlist ul {
  display: flex;
  gap: 3.5rem;
  list-style: none;
}

.navlist ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
}

.abc {
  display: flex;
}

.left-container, .right-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.left-container {
  background: #4c4c4e;
  padding-left: 3rem;
  width: 70%;
  justify-content: center;
  color: #fff;
}

.right-container {
  background: linear-gradient(45deg, #71b0c1, #4c4c4e);
  width: 30%;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  
}

.icons a {
  color: white;
  font-size: 1.7rem;
}

.content {
  margin-left: 4rem;
}

.content p {
  font-size: 1.5rem;
}

.content h1 {
  font-size: 4rem;
  color: blue;
}

.content .detail {
  font-size: 1.1rem;
  color: #f6f0f9;
  max-width: 35rem;
  margin: 1rem 0;
  line-height: 1.8rem;
}

.design .circle {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
  background: linear-gradient(90deg, transparent 50%, transparent 50%);
  width: 32rem;
}

.circle:nth-child(2) {
  background: rgb(244, 242, 238);
  width: 30rem;
  background-image: url(image/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 4rem #852ee9;
}

.about {
  background: linear-gradient(to right, #676869, #4c4c4e);
  padding: 5rem 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-left h1 {
  font-size: 2.5rem;
  color: #f6f0f9;
}

.adetail {
  font-size: 1.1rem;
  color: #f6f0f9;
  margin: 1rem auto;
  max-width: 50rem;
}

.about-left img {
  margin-top: 2rem;
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.contact {
  background: linear-gradient(to right, #71b0c1, #4c4c4e);
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}

.container1-left {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.container1-left h2 {
  color: blue;
  margin-bottom: 1rem;
}

.contact-info p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

span {
  color: aqua;
  text-transform: uppercase;
}
